<br />

<center><input type="button" class="button" value="Ask The Magic 8 Ball" onclick="getPhrase()" /></center>
@*<center><p id="fortune"></p></center>*@




<div class="position">
    <div class="ball">
        <div class="fortune"></div>
        <div id="fortune" class="triangle"></div>
        <div class="textbox"></div>
    </div>
</div>
            